@import "tailwindcss";
@config "./tailwind.config.js";

.material-symbols-outline {
    font-variation-settings:
        "FILL" 0,
        "wght" 400,
        "GRAD" 0,
        "opsz" 24;
    vertical-align: middle;
}

.space-grotesk {
    font-family: "Space Grostesk", sans-serif;
}

.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tilingwm-selector-bg {
    @apply relative bg-surface-tint p-8 rounded-lg hover:bg-[#bdcdfc] dark:bg-surface-container dark:hover:bg-surface-container-high cursor-pointer overflow-hidden;
}

.tilingwm-selector-bg-2 {
    @apply relative bg-on-surface-variant p-8 rounded-lg dark:bg-surface-container-low cursor-pointer overflow-hidden;
}

.editor-selector-bg {
    @apply relative bg-surface-tint p-8 rounded-lg hover:bg-[#bdcdfc] dark:bg-surface-container dark:hover:bg-surface-container-high cursor-pointer overflow-hidden w-[34.3rem] md:w-2xl;
}

.editor-selector-bg-2 {
    @apply relative bg-on-surface-variant p-8 rounded-lg dark:bg-surface-container-low cursor-pointer overflow-hidden w-[34.3rem] md:w-2xl;
}

.selector-text {
    @apply font-headline text-2xl font-medium mb-4 text-white dark:text-on-surface-variant;
}

.selector-desc {
    @apply font-headline font-medium text-white dark:text-on-surface-variant;
}

.button-tilingwm {
    @apply bg-surface-tint dark:bg-monolith-border text-gray-950 dark:text-surface-tint p-2 rounded-lg uppercase text-[12px] flex flex-row items-center gap-1;
}

.main-section-tilingwm {
    @apply bg-surface-topbar p-8 font-headline rounded-lg dark:text-surface-bg dark:bg-surface-container;
}

.no-input-number-spin {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    -moz-appearance: textfield;
    appearance: textfield;
}

.picker-clean {
    border: none !important;
    background: none !important;
    padding: 0 !important;
    outline: none !important;
}

/* Xóa viền đen bên trong swatch (Chrome, Safari, Edge) */
.picker-clean::-webkit-color-swatch {
    border: none !important;
    padding: 0 !important;
}

.picker-clean::-webkit-color-swatch-wrapper {
    padding: 0 !important;
}

/* Xóa viền đen bên trong swatch (Firefox) */
.picker-clean::-moz-color-swatch {
    border: none !important;
    padding: 0 !important;
}
